@model SondageSite.Models.SondageEtOptions
@{
    Layout = null;
}

<!DOCTYPE html>
<!--vue pour le créateur du sondage quand il vient de créer le sondage, avec un formulaire affichant les choix de vote et renvoyant les données des choix (soit valeur radioReponse soit valeur reponse1 à 4 selon ceux choisis + idSondage) -->
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SondageCreation</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />

    <style>
        #content {
            border: solid 2px black;
            border-radius: 40px;
        }

        #content2 {
            margin-left: 21%;
        }


        #backg {
            background-image: url(../../Content/background-image.png);
            height: 100vh;
            background-size: cover;
        }
    </style>
</head>

<body>
    <div id="backg">
        <div class="container">
            <div class="row">
                <div class="col text-center">
                    <h1 id='poll-title' class="mt-5 pt-5">Super Sondage</h1>
                    <h3 id='poll-subtitle' class="mb-5">Le meilleur site pour faire des sondages de qualité</h3>

                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-7" id="content">
                    <form action="@Url.Action("AjoutVote")" class="p-4" method="get">
                        <input type="hidden" name="idSondage" value="@Model.Sondage.IdSondage" />
                        <div class="row">
                            <div class="mb-3 p-2">
                                @Model.Sondage.Question
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group form-check my-1">
                                @if (Model.Sondage.ChoixMultiple == true)
                                {
                                    <input type="checkbox" name="reponse1" class="form-check-input" value="@Model.Options[0].IdOption">
                                }
                                else
                                {
                                    <input type="radio" name="radioReponse" class="form-check-input" value="@Model.Options[0].IdOption">
                                }
                                <label class="form-check-label"></label>
                            </div>
                            <div class="col">
                                Réponse 1 : @Model.Options[0].ReponseTxt
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group form-check my-1">
                                @if (Model.Sondage.ChoixMultiple == true)
                                {
                                    <input type="checkbox" name="reponse2" class="form-check-input" value="@Model.Options[1].IdOption">
                                }
                                else
                                {
                                    <input type="radio" name="radioReponse" class="form-check-input" value="@Model.Options[1].IdOption">
                                }
                                <label class="form-check-label"></label>
                            </div>
                            <div class="col">
                                Réponse 2 : @Model.Options[1].ReponseTxt
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group form-check my-1">
                                @if (Model.Sondage.ChoixMultiple == true)
                                {
                                    <input type="checkbox" name="reponse3" class="form-check-input" value="@Model.Options[2].IdOption">
                                }
                                else
                                {
                                    <input type="radio" name="radioReponse" class="form-check-input" value="@Model.Options[2].IdOption">
                                }
                                <label class="form-check-label"></label>
                            </div>
                            <div class="col">
                                Réponse 3 : @Model.Options[2].ReponseTxt
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group form-check mt-1 mb-5">
                                @if (Model.Sondage.ChoixMultiple == true)
                                {
                                    <input type="checkbox" name="reponse4" class="form-check-input" value="@Model.Options[3].IdOption">
                                }
                                else
                                {
                                    <input type="radio" name="radioReponse" class="form-check-input" value="@Model.Options[3].IdOption">
                                }
                                <label class="form-check-label"></label>
                            </div>
                            <div class="col">
                                Réponse 4 : @Model.Options[3].ReponseTxt
                            </div>
                        </div>
                        <div class="d-flex justify-content-center">
                            <input type="submit" class="btn btn-primary btn-lg active" role="button" aria-pressed="true" title='Voter' align center value="Voter">
                        </div>
                    </form>
                </div>
            </div>
<!--la partie réservée au créateur du sondage, que les autres votants ne voient pas en principe -->
            <div class="row">
                <div id="content2">
                    <div class="col-12">
                        <div class="mt-1 pt-1"><b>Attention le lien de suppression du sondage est à conserver précieusement</b></div>
                        <div class="mt-1 pt-1">Supprimer le sondage : Sondages/SondageSuppression?idSondage=@Model.Sondage.IdSondage&CodeSuppression=@Model.Sondage.CodeSuppression</div>
                        <div class="mt-1 pt-1">Page de vote du sondage : Sondages/SondageVote?idSondage=@Model.Sondage.IdSondage</div>
                        <div class="mt-1 pt-1">Résultats du sondage : Sondages/SondageResultat?idSondage=@Model.Sondage.IdSondage</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>